.learning-check-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .container {
        display: flex;
        flex-wrap: wrap;
        h2 {
            text-align: center;
            padding: 8px;
            font-weight: 200;
            color: $SAR-white;
            background: $SAR-dark-gray;
        }

        .draggableItem {
            display: inline-block;
            background: $SAR-burnt-orange;
            vertical-align: top;

            color: $SAR-white;
            @include round-corners;
            outline: none;
            width: 276px;
            userSelect: 'none';
            padding: 6px 12px;
            margin: 0 4px 4px 0;
        }

        &.finish {
            height: 200px;
            width: 300px;
            border: 1px solid #000;
            margin: 0 16px 16px 0;
        }
    }
}