.Video {
    .QContent {
        padding: 0;
        flex: 1;
        .intro {
            width: 50%;
            margin: 0px auto;
            margin-top: 10%;
            background: $SAR-white;
            padding: 0.4rem 1rem 1rem 1rem;
            button {
                display: block;
                width: 100%;
                margin: 10px auto;
                background: $SAR-burnt-orange;
                padding: 5px 0;
                color: $SAR-white;
                @include round-corners;
                &:focus,
                &:active {
                    background: $SAR-dark-blue;
                }
                .fa {
                background: inherit;
                }
                
            }
            .player-wrapper {
                position: relative;
                padding-top: calc(100% /  (640 / 480));
                .react-player {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}
