@font-face {
  font-family: "AachenStd Bold";
  src: url("fonts/AachenStd-Bold.eot");
  src: url("fonts/AachenStd-Bold.woff") format("woff"), url("fonts/AachenStd-Bold.ttf") format("truetype");
}

h1, h2, h3 {
  font-family: "AachenStd Bold", 'Times New Roman', Times, serif;
  color: #ce0000;
  margin-top: 0;
}

.container {
  background-image: url(/images/Background_01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.container .App {
  /* display: block; 
        position: relative;
        padding-top: 5%;
        */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1000px;
  height: 90%;
  max-height: 665px;
}

.container .App .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  max-width: 1000px;
  height: 665px;
}

.container .App .content.Survive-Armed-Robbery.Intro.Q1 {
  background-image: url(/images/title-survive-armed-robbery.jpg);
}

.container .App .content.The-Offender.Intro.Q1 {
  background: url(/images/title-the-offender.jpg) right top no-repeat;
}

.container .App .content.New-Crims-new-ways.Intro.Q1 {
  background: url(/images/title-the-robbery.jpg) right top no-repeat;
}

.container .App .content.The-Robbery.Intro.Q1 {
  background: url(/images/title-the-robbery.jpg) right top no-repeat;
}

.container .App .content.Conclusion.Intro.Q1 {
  background: url(/images/title-conclusion.jpg) right top no-repeat;
}

.container .App .content.Video {
  background: url(/images/VideoImg_01.jpg) right 54px no-repeat;
}

.container .App .content .QContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /*
                vertical-align: top;
                padding: 4%;
                width: 92%;
                */
}

header {
  font-size: 1.1rem;
  padding: 1rem 1rem;
  background: #002b54;
  color: white;
}

.Learning-Check .QContent {
  padding: 26px;
}

.Learning-Check .QContent .learning-check-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /*justify-content: center; */
}

.Learning-Check .QContent .learning-check-container .intro {
  width: 100%;
}

.Learning-Check .QContent .learning-check-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 302px;
  margin-right: 10px;
  min-height: auto;
  background: #ffffff;
}

.Learning-Check .QContent .learning-check-container .container h2 {
  width: 100%;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 4px;
  font-weight: 200;
  color: white;
  background: #333333;
}

.Learning-Check .QContent .learning-check-container .container .dropzone {
  /*align-items: stretch;*/
  min-height: 150px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Learning-Check .QContent .learning-check-container .container .dropzone .draggableItem {
  background: #002b54;
  color: white;
  border-radius: 5px;
  outline: none;
  width: 272px;
  padding: 6px 8px;
  margin: 3px;
}

.Learning-Check .QContent .learning-check-container .container.c0 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 34px;
  max-height: 130px;
}

.Learning-Check .QContent .learning-check-container .container.c0 .dropzone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  min-height: 140px;
  height: 130px;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.Learning-Check .QContent .learning-check-container .container.c0 .dropzone .draggableItem {
  background: #ce0000;
  padding: 8px 8px;
  width: 254px;
}

.Learning-Check .QContent .learning-check-container .container.c0 .dropzone:empty {
  height: auto;
  min-height: auto;
}

.Learning-Check .QContent .learning-check-container .container:not(.c0) {
  border: 1px solid #000000;
}

.Learning-Check .QContent .learning-check-container .container.submitContainer {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: inherit;
      flex-basis: inherit;
  width: 100%;
}

.Learning-Check .QContent .learning-check-container .container.finish {
  height: 200px;
  width: 300px;
  border: 1px solid #000;
  margin: 0 16px 16px 0;
}

.Learning-Check .QContent.Step13 .learning-check-container .c0 .dropzone {
  height: 180px;
}

.Learning-Check .QContent.Step36 .learning-check-container {
  height: 100%;
}

.Learning-Check .QContent.Step36 .learning-check-container .c0 {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-height: none;
  padding-top: 0;
}

.Learning-Check .QContent.Step36 .learning-check-container .c0 .dropzone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 620px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Learning-Check .QContent.Step36 .learning-check-container .c0 .dropzone .draggableItem {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 12px 16px;
}

.Learning-Check .QContent.Step36 .learning-check-container.submitContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: initial;
      flex-basis: initial;
}

.Multiple-Choice .QContent {
  padding: 26px;
}

.Multiple-Choice .QContent ol.alpha {
  list-style: none;
  margin-top: 2rem;
  padding-left: 0;
  width: 80%;
  margin-bottom: 30px;
}

.Multiple-Choice .QContent ol.alpha li {
  counter-increment: item;
  margin-bottom: 5px;
}

.Multiple-Choice .QContent ol.alpha li:before {
  margin-right: 10px;
  content: counter(item, upper-latin);
  background: #002b54;
  padding: 8px;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
}

.Multiple-Choice .QContent ol.alpha input {
  position: absolute;
  left: -10000px;
}

.Multiple-Choice .QContent ol.alpha label {
  color: white;
  background: #ce0000;
  display: inline-block;
  padding: 8px 2%;
  width: 86%;
  border-radius: 5px;
}

.Multiple-Choice .QContent ol.alpha label.selected {
  background: #002b54;
}

.Multiple-Choice .QContent ol.alpha label:hover {
  background: #002b54;
}

.Information-Boxes .QContent {
  padding: 26px;
}

.Information-Boxes .QContent ul.buttons {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.Information-Boxes .QContent ul.buttons li {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #ce0000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  margin: 20px;
}

.Information-Boxes .QContent ul.buttons li:hover, .Information-Boxes .QContent ul.buttons li:focus {
  background-color: #002b54;
}

.Information-Boxes .QContent ul.buttons li.Soft-targets {
  background-image: url(/images/BoxButtonIcons_SoftTarget.png);
}

.Information-Boxes .QContent ul.buttons li.Hard-targets {
  background-image: url(/images/BoxButtonIcons_HardTarget.png);
}

.Information-Boxes .QContent ul.buttons li.Factors-motivating-crime {
  background-image: url(/images/BoxButtonIcons_Factors.png);
}

.Information-Boxes .QContent ul.buttons li.Reasons-for-violent-behaviour {
  background-image: url(/images/BoxButtonIcons_Violent.png);
}

.Information-Boxes .QContent ul.buttons li.The-typical-armed-robber-of-today {
  background-image: url(/images/BoxButtonIcons_Robber.png);
}

.Information-Boxes .QContent ul.buttons li.What-the-victim-experiences {
  background-image: url(/images/BoxButtonIcons_Victim.png);
}

.Information-Boxes .QContent ul.buttons li.The-offenders-behaviour {
  background-image: url(/images/BoxButtonIcons_Offender.png);
}

.Information-Boxes .QContent ul.buttons li .tick {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 30px;
}

.Information-Boxes .QContent ul.buttons li .tick.true {
  background-image: url(/images/tick_white.png);
  background-position: top right;
  background-repeat: no-repeat;
}

.Information-Boxes .QContent ul.buttons li .modal-button {
  width: 100%;
  height: 100%;
  text-indent: -99999px;
  background: transparent;
}

/* flashy selector eh? */
div[class^="styles_modal__"] {
  padding: 1em 2em;
}

div[class^="styles_modal__"] h2 {
  font-family: "AachenStd Bold", 'Times New Roman', Times, serif;
  color: #ce0000;
}

div[class^="styles_modal__"] button[class^='styles_close'] {
  top: -8px;
  right: -28px;
  background-color: #ffffff;
  color: #002b54;
  border-radius: 50%;
}

.Text.Text.Q2 {
  background: url(/images/378x572_ArmedRobbery.jpg) right 53px no-repeat white;
}

.Text.Text.Q2 .QContent {
  width: 56%;
  height: 100%;
  background: white;
  padding: 26px;
}

.Text.Text.Q3 {
  background: url(/images/378x572_Image.jpg) right 53px no-repeat white;
}

.Text.Text.Q3 .QContent {
  width: 56%;
  height: 100%;
  background: white;
  padding: 26px;
}

.Text.Text.Q6 {
  background: url(/images/378x572_Trish.jpg) right 53px no-repeat white;
}

.Text.Text.Q6 .QContent {
  width: 56%;
  height: 100%;
  background: white;
  padding: 26px;
}

.Text.Text.Q8 .QContent {
  width: 56%;
  height: 100%;
  background: white;
  padding: 26px;
}

.Text.Text.Q8 .QContent {
  width: 90%;
}

.Text.Text.Q11 {
  background: url(/images/378x572_Door.jpg) right 53px no-repeat white;
}

.Text.Text.Q11 .QContent {
  width: 56%;
  height: 100%;
  background: white;
  padding: 26px;
}

.Text.Text.Q4.Conclusion {
  background: url(/images/378x572_ArmedRobbery.jpg) right 53px no-repeat white;
}

.Text.Text.Q4.Conclusion .QContent {
  width: 56%;
  height: 100%;
  background: white;
  padding: 26px;
}

.Text.Text.Q11.Conclusion {
  background: url(/images/378x572_Door.jpg) right 53px no-repeat white;
}

.Text.Text.Q11.Conclusion .QContent {
  width: 56%;
  height: 100%;
  background: white;
  padding: 26px;
}

.Text.Text.Q11.Conclusion .textContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
}

.Text.Text.Q11.Conclusion .textContent div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6em;
  font-weight: 400;
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label .rc-checkbox {
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label .rc-checkbox .rc-checkbox-input {
  display: none;
  cursor: pointer;
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label .rc-checkbox .rc-checkbox-inner {
  display: block;
  position: relative;
  border: 1px solid #ffa64c;
  width: 40px;
  height: 40px;
  background-color: #eee;
  margin-right: 1em;
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label .rc-checkbox .rc-checkbox-inner:after {
  content: "";
  position: absolute;
  display: none;
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label .rc-checkbox .rc-checkbox-input:checked ~ .rc-checkbox-inner:after {
  display: block;
}

.Text.Text.Q11.Conclusion .textContent .checkboxContainer label .rc-checkbox .rc-checkbox-inner:after {
  left: 14px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid #ce0000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.Text.Text.Q12.Conclusion {
  background: url(/images/378x572_ArmedRobbery.jpg) right 53px no-repeat white;
}

.Text.Text.Q12.Conclusion .QContent {
  width: 56%;
  height: 100%;
  background: white;
  padding: 26px;
}

.Video .QContent {
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Video .QContent .intro {
  width: 50%;
  margin: 0px auto;
  margin-top: 10%;
  background: white;
  padding: 0.4rem 1rem 1rem 1rem;
}

.Video .QContent .intro button {
  display: block;
  width: 100%;
  margin: 10px auto;
  background: #ce0000;
  padding: 5px 0;
  color: white;
  border-radius: 5px;
}

.Video .QContent .intro button:focus, .Video .QContent .intro button:active {
  background: #002b54;
}

.Video .QContent .intro button .fa {
  background: inherit;
}

.Video .QContent .player-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  /*padding-top: calc(100% /  (640 / 480));*/
}

.Video .QContent .player-wrapper .react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer.Step1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: transparent;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  /*padding: 0.5rem 0;*/
  color: white;
  background: #ce0000;
  height: 50px;
}

.footer div .bar-container {
  margin-left: 2rem;
  width: 140px;
  background: #111111;
  height: 10px;
  border: 2px solid #111111;
  border-radius: 5px;
}

.footer div .bar-container div {
  background: white;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.footer div nav {
  height: 40px;
}

.footer div nav .progress {
  display: inline-block;
  height: 30px;
  position: relative;
  bottom: 5px;
}

button {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  color: white;
  background: #ce0000;
  outline: none;
  margin: 0 1rem;
}

button:hover, button:focus, button:active {
  color: #ffa64c;
}

button.initial {
  font-size: 1.5rem;
  background: transparent;
  margin-right: 21px;
  margin-bottom: 14px;
}

button.disabled {
  pointer-events: none;
  opacity: 0;
}

button.submit {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}
/*# sourceMappingURL=App.css.map */