@font-face {
  font-family: "AachenStd Bold";
  src: url("fonts/AachenStd-Bold.eot");
  src: url("fonts/AachenStd-Bold.woff") format("woff"), url("fonts/AachenStd-Bold.ttf") format("truetype"); }

h1 {
  font-family: "AachenStd Bold", 'Times New Roman', Times, serif;
  color: #ce0000; }

.App {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/images/Background_01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .App .content {
    position: relative;
    /*top:25%;
        left:50%;
        margin-left: -500px;*/
    margin: 0px auto;
    width: 80%;
    max-width: 1000px;
    height: 670px;
    max-height: 670px;
    background: white; }
    .App .content header {
      font-size: 1.1rem;
      padding: 1rem 1rem;
      background: #002b54;
      color: white; }
    .App .content div .imgHolder {
      position: relative;
      display: inline-block;
      width: 42%; }
      .App .content div .imgHolder img {
        float: right; }
    .App .content div .QContent {
      display: inline-block;
      vertical-align: top;
      padding: 4%;
      /*width: 92%;*/ }
    .App .content.bg .QContent {
      width: 50%; }
    .App .content.Intro .QContent {
      padding: 0; }

#first,
#second {
  width: 40%; }

#first div,
#second div {
  padding: 4px;
  border: 1px solid #bbbbbb; }

ol.alpha {
  list-style: none;
  padding-left: 0; }
  ol.alpha li {
    counter-increment: item;
    margin-bottom: 5px; }
  ol.alpha li:before {
    margin-right: 10px;
    content: counter(item, upper-latin);
    background: #002b54;
    border-radius: 4px;
    padding: 8px;
    color: white;
    width: 1.2em;
    text-align: center;
    display: inline-block; }
  ol.alpha input {
    position: absolute;
    left: -10000px; }
  ol.alpha label {
    color: white;
    background: #ce0000;
    border-radius: 4px;
    display: inline-block;
    padding: 8px 16px;
    width: 86%; }

footer {
  font-size: 1.1rem;
  padding: 0.5rem 0;
  color: white;
  background: #ce0000;
  position: absolute;
  bottom: 0;
  width: 100%; }
  footer nav {
    position: relative;
    left: 89%;
    margin-right: 1rem; }
    footer nav .progress {
      display: inline-block;
      position: relative;
      bottom: 5px; }
    footer nav button {
      font-size: 1.2rem;
      font-weight: 500;
      border: none;
      color: white;
      background: #ce0000;
      outline: none; }
