$SAR-white: rgb(255,255,255);
$SAR-dark-gray: rgb(51,51,51);
$SAR-burnt-orange: rgb(206,0,0);
$SAR-light-orange: rgb(255,166,76);
$SAR-dark-blue: rgb(0,43,84);


@mixin title {
    font-family: "AachenStd Bold", 'Times New Roman', Times, serif;
    color: $SAR-burnt-orange;
    margin-top: 0;
}

@mixin round-corners {
    border-radius: 5px;
}

@mixin padding {
    padding: 26px;
}
