
body {
    background-image: url(/images/Background_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .App {
        position: relative;
        width: 100%;
        //height: 90%;

        padding-top: 5%;

        .content {
            //position: relative;
            /*top:25%;
            left:50%;
            margin-left: -500px;*/
            //margin: 0 auto;
            width: 100%;
            max-width: 1000px;
            height: 665px;
            //max-height: 664px;
            
            background: $SAR-white;
            
            &.Survive-Armed-Robbery.Intro.Q1 {
                background-image: url(/images/title-survive-armed-robbery.jpg);
            }
            &.The-Offender.Intro.Q1 {
                background: url(/images/title-the-offender.jpg) right top no-repeat;   
            }
            &.New-Crims-new-ways.Intro.Q1 {
                background: url(/images/title-the-robbery.jpg) right top no-repeat; 
            }
            &.The-Robbery.Intro.Q1 {
                background: url(/images/title-the-robbery.jpg) right top no-repeat; 
            }
            &.Conclusion.Intro.Q1 {
                background: url(/images/title-conclusion.jpg) right top no-repeat; 
            }
            &.Video {
                background: url(/images/VideoImg_01.jpg) right 54px no-repeat;     
            }

            &.bg.Text.Q2,
            &.bg.Text.Q3 {
                background: url(/images/378x572_Image.jpg) right 53px no-repeat white; 
                
            }
            .QContent {
                display: inline-block;
                vertical-align: top;
                padding: 4%;
                width: 92%;
            
            }
            &.bg:not(.Video) {
                .QContent {
                    width: 50%;
                }
            }   
        /* &.Intro {
                .QContent {
                    padding: 0;
                }
            }*/
            &.Video {
                .QContent {
                    padding: 0;
                }
            }
        }
    }
}