
.App {
    position: relative;
    width: 100%;
    height: 90%;
    background-image: url(/images/Background_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
    .content {
        position: relative;
        /*top:25%;
        left:50%;
        margin-left: -500px;*/
        margin: 0 auto;
        width: 80%;
        max-width: 1000px;
        height: 652px;
        max-height: 652px;
        
        background: $SAR-white;
        
        &.Survive-Armed-Robbery.Intro.Q1 {
            background-image: url(/images/title-survive-armed-robbery.jpg);
            height: 100%;
        }
        &.The-Offender.Intro.Q1 {
            background: url(/images/title-the-offender.jpg) right top no-repeat; 
            height: 100%;
        }
        &.New-Crims-new-ways.Intro.Q1 {
            background: url(/images/title-the-robbery.jpg) right top no-repeat; 
            height: 100%;
        }
        &.The-Robbery.Intro.Q1 {
            background: url(/images/title-the-robbery.jpg) right top no-repeat; 
            height: 100%;
        }
        &.Conclusion.Intro.Q1 {
            background: url(/images/title-conclusion.jpg) right top no-repeat; 
            height: 100%;
        }
        &.Video .QContent{
            background: url(/images/VideoImg_01.jpg) right top no-repeat; 
            height: 100%;
            
        }

        &.bg.Text.Q2,
        &.bg.Text.Q3 {
            background: url(/images/378x572_Image.jpg) right top no-repeat white; 
            height: 100%;
        }
        .QContent {
            display: inline-block;
            vertical-align: top;
            padding: 4%;
            width: 96%;
        
        }
        &.bg:not(.Video) {
            .QContent {
                width: 50%;
            }
        }   
       /* &.Intro {
            .QContent {
                padding: 0;
            }
        }*/
        &.Video {
            .QContent {
                padding: 0;
            }
        }
    }
}
