
.App {
    position: relative;
    width: 100%;
    height: 90%;
    background-image: url(/images/Background_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5%;
    .content {
        position: relative;
        /*top:25%;
        left:50%;
        margin-left: -500px;*/
        margin: 0 auto;
        width: 80%;
        max-width: 1000px;
        height: 672px;
        max-height: 672px;
        background: $SAR-white;
        
        div {
            .QContent {
                display: inline-block;
                vertical-align: top;
                padding: 4%;
                width: 96%;
            }
        }
        &.bg:not(.Video) {
            .QContent {
                width: 50%;
            }
        }   
        &.Intro {
            .QContent {
                padding: 0;
            }
        }

    }
}
