
@font-face {
    font-family: "AachenStd Bold";
    src: url("fonts/AachenStd-Bold.eot");
    src: 
    url("fonts/AachenStd-Bold.woff") format("woff"),
    url("fonts/AachenStd-Bold.ttf") format("truetype"),
}

@mixin SAR-font {
    font-family: "AachenStd Bold", 'Times New Roman', Times, serif;
    color: $SAR-burnt-orange;
}

h1 {
    @include SAR-font;
    margin-top: 0;
}
h3 {    color: $SAR-burnt-orange;   }